* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(129, 167, 168);
  font-size: 18px;
  transition: 0.25s;
  /* user ne moze selectovat listu */
  user-select: none;
}

/* parni redak u drugoj boji */
ul li:nth-child(even) {
  background: #73b8a3;
}

ul li:hover {
  background: #ddd;
}
/* kada kliknemo dodaj background i prekrizi tekst */
ul li.gotovo {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Kvaka kad klikneo redak */
ul li.gotovo::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Dugme za zatvaranje */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
/* centriranje div-a Kutija */
.kutija {
  background-color: #383838;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.kutija::after {
  content: "";
  display: table;
  clear: both;
}

/* uredjivanje izgleda polja unosa */
input {
  margin: 0;
  border: none;
  border-radius: 0px;
  width: 80%;
  padding: 5px;
  float: left;
  font-size: 15px;
}

/* Dodavanje Dugmeta i uredjivanje istog */
.addBtn {
  padding: 5px;
  width: 19.9%;
  background: #737772;
  color: rgb(0, 0, 0);
  float: right;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #66df15;
  color: white;
}

#sakrij {
  display: none;
}
